@media (max-width: 840px) {
  .main-btn {
    padding: 15px 0;
  }

  /* Main Screen */

  .main-screen {
    background-position: center;
  }

  .header__logo {
    padding: 0;
    margin: auto;
    margin-top: 20px;
  }

  /* TODO: Implement Sidebar */
  .header__nav {
    display: none;
  }

  .title {
    font-size: 60px;
    width: 80%;
    margin: 223px auto 0;
  }

  .sub-title {
    margin-top: 20px;
  }

  .scroll-down {
    margin-top: 100px;
  }

  .header__backdrop {
    height: 70px;
    top: 0;
  }

  /* Gallery Screen */

  .gallery-screen {
    background-position: center;
  }

  .gallery-screen__content {
    flex-direction: column;
  }

  .gallery-screen section {
    margin: 0 auto;
  }

  .gallery-screen section h1,
  .gallery-screen section h3 {
    text-align: center;
  }

  .gallery-screen section h3 {
    padding-top: 150px;
  }

  .gallery-screen section h1 {
    margin-bottom: 50px;
  }

  .gallery-screen__img-carousel {
    width: 600px;
  }

  .gallery-screen__img {
    height: calc(477px - (477px * 0.25));
    width: calc(858px - (858px * 0.25));
  }

  /* Features */

  .features-screen {
    background-position: center;
  }

  .features-screen section {
    padding-top: 150px;
  }

  .features-screen__text h1 {
    margin-top: 10px;
  }

  .features-screen__point {
    margin-top: 20px;
  }

  .features-screen__description {
    width: 85%;
    font-size: 14px;
  }

  .features-screen__description svg {
    top: 54%;
  }

  .features-screen__description p {
    margin: 0 0 0 50px;
  }

  /* Requirements */

  .requirements {
    background-position: center;
  }

  .requirements__text h3 {
    padding-top: 100px;
  }

  .requirements__text h1 {
    margin-top: 80px 0 0 80px;
    font-size: 40px;
    line-height: 45px;
  }

  .requirements__grid {
    margin-top: 30px;
    margin-left: 80px;
    width: 55%;
  }

  .requirements__grid-description {
    font-size: 14px;
  }

  /* Quotes */

  .quotes section {
    display: flex;
    flex-direction: column;
  }

  .quotes__text {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }

  .quotes__main-btn {
    position: absolute;
    bottom: -100px;
    left: 300px;
  }

  .quotes__list {
    padding-top: 0px;
    display: grid;
    margin: 20px 50px 0;
  }

  .quotes__list-item {
    width: 350px;
    height: 200px;
  }

  .quotes__list-item:nth-child(1) {
    margin-left: 0;
    grid-row: 1;
  }

  .quotes__list-item:nth-child(2) {
    margin-left: 0;
    grid-row: 1;
    margin: 0;
  }

  .quotes__list-item:nth-child(3) {
    margin-left: 0;
    grid-row: 2;
    grid-column: 1 / span 2;
    margin: 20px auto 0;
  }

  .quotes__list-item-profile img {
    height: 52px;
    width: 52px;
    margin: 10px 0 0 10px;
  }

  .quotes__list-item-profile-bg {
    height: 55px;
    width: 55px;
    top: 13px;
    left: 16px;
  }

  .quotes__list-item-profile-user {
    margin: 10px 0 auto 20px;
  }

  .quotes__list-item-profile-user-name {
    font-size: 20px;
  }

  .quotes__list-item-profile-user-work {
    font-size: 14px;
  }

  .quotes__list-item-review {
    font-size: 14px;
    width: 90%;
  }

  .quotes__list-item-date {
    font-size: 10px;
  }

  /* Newsletter */

  .newsletter section {
    margin-left: 60px;
    padding-top: 150px;
  }

  .newsletter__img img {
    width: calc(413px - (413px * 0.5));
    height: calc(656px - (656px * 0.5));
  }

  .newsletter__text {
    margin: 0 0 0 30px;
  }

  .newsletter__text h3 {
    margin-top: 20px;
    font-size: calc(24px - (24px * 0.3));
    line-height: calc(24px - (24px * 0.3));
  }

  .newsletter__text h1 {
    font-size: calc(65px - (65px * 0.5));
    line-height: calc(65px - (65px * 0.4));
  }

  .newsletter__text p {
    font-size: calc(18px - (18px * 0.2));
    width: 90%;
  }

  .newsletter__grid-action {
    flex-direction: column;
    margin: 30px 0 0;
  }

  .newsletter__grid-action-input label {
    font-size: 10px;
  }

  .newsletter__grid-action-input input {
    font-size: 14px;
    height: 20px;
    width: 260px;
  }

  .newsletter__grid-action-btn {
    margin: 10px 0 0 0;
    font-size: 14px;
    height: 50px;
    width: 280px;
  }

  .newsletter__nav {
    margin: auto auto 10px;
    width: 92%;
    justify-content: space-around;
  }

  .newsletter__footer {
    margin: 22px 50px 46px 50px;
  }
}
