/* Global CSS */

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}

h1,
h3 {
  font-family: Arial, "Bebas Neue", sans-serif;
  text-align: center;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 82.79px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 27.6px;
}

.main-btn {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 300px;
}

.nav {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 10%;
  line-height: 16.34px;
  text-transform: uppercase;
}

/* Main Screen CSS */

.main-screen {
  background-image: url("asset/main-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.main-screen__backdrop {
  background: radial-gradient(
    189.96% 61.18% at 50% 38.82%,
    rgba(255, 181, 72, 0) 0%,
    rgba(52, 44, 29, 0.80319) 73.22%,
    #08090a 99.74%
  );
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.header {
  height: 90px;
  display: flex;
  align-items: center;
}

.header__logo {
  padding-left: 107px;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  line-height: 32.68px;
  letter-spacing: 10%;
  z-index: 10;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 162px;
  margin-right: 142px;
  z-index: 10;
}

.nav:nth-child(5) {
  margin-left: 800px;
}

.header__backdrop {
  height: 90px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 8;
}

.title {
  margin-top: 223px;
  z-index: 10;
}

.sub-title {
  margin-top: 58px;
  z-index: 10;
}

.play-btn {
  margin: 58px auto 0 auto;
  z-index: 10;
}

.scroll-down {
  text-align: center;
  margin-top: 200px;
  z-index: 10;
}

.scroll-down p {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
}

/* Gallery */

.gallery-screen {
  background-image: url("asset/gallery-bg.png");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.gallery-screen__content {
  display: flex;
}

.gallery-screen section {
  position: relative;
  z-index: 7;
}

.gallery-screen__text {
  margin-left: 83px;
}

.gallery-screen section h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
  margin-top: 14px;
}

.gallery-screen section h3 {
  margin: 0;
  padding-top: 254px;
  text-align: left;
}

.gallery-screen__img-container {
  margin-top: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-screen__img {
  height: 477px;
  width: 858px;
  margin: 0 12px;
}

.gallery-screen__circle-icon {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.gallery-screen__backdrop {
  background: radial-gradient(
    136.03% 54.57% at 50% 48.04%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 60.63%,
    #080a0b 99.74%
  );
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
}

.gallery-screen__backdrop-second {
  background: rgba(15, 15, 15, 0.9);
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

/* Features */

.features-screen {
  background-image: url("asset/features-bg.png");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.features-screen section {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 55%;
  padding-top: 259px;
}

.features-screen__text h3,
.features-screen__text h1 {
  text-align: left;
  margin: 0;
}

.features-screen__text h1 {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 65px;
}

.features-screen__point {
  margin-top: 78px;
}

.features-screen__title {
  color: #ffb548;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

.features-screen__title p {
  margin-left: 33px;
}

.features-screen__description {
  display: flex;
  width: 65%;
}

.features-screen__description svg {
  position: absolute;
  top: 64%;
  margin-left: 7px;
}

.features-screen__description p {
  margin-left: 50px;
  margin-top: 6px;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}

.features-screen__backdrop {
  background: radial-gradient(
    51.1% 80.48% at 30.85% 53.65%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 19.2%,
    rgba(4, 5, 6, 0.520671) 47.48%,
    #080a0b 99.74%
  );
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
}

/* Requirements */

.requirements {
  background-image: url("asset/requirement-bg.png");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.requirements__text {
  position: relative;
  z-index: 10;
}

.requirements__text h3 {
  margin-top: 0;
  padding-top: 146px;
  font-size: 14px;
  line-height: 17px;
}

.requirements__text h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 65px;
  margin: 55px 0 0 130px;
  text-align: left;
  width: 30%;
}

.requirements__grid {
  display: grid;
  position: relative;
  z-index: 10;
  margin: 44px 0 0 121px;
  width: 41%;
}

.requirements__grid-row {
  border: 1px solid #979797;
  padding: 15px 20px;
}

.requirements__grid-row:nth-child(1n) {
  grid-column: 1;
}

.requirements__grid-row:nth-child(2n) {
  grid-column: 2;
}

.requirements__grid-row:last-child {
  grid-column: 1 / span 2;
}

.requirements__grid-title {
  color: #ffb548;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 0;
}

.requirements__grid-description {
  margin: 7px 0 18px 0;
}

.requirements__backdrop {
  background: radial-gradient(
    33.26% 45% at 64.32% 47.1%,
    rgba(255, 255, 255, 0) 3.36%,
    rgba(0, 0, 0, 0) 19.22%,
    #080a0b 99.74%
  );
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
}

/* Quotes */

.quotes {
  background-image: url("asset/quotes-bg.png");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.quotes section {
  position: relative;
  z-index: 8;
  display: flex;
}

.quotes__text {
  padding-top: 340px;
  margin-left: 119px;
}

.quotes__text h1 {
  margin: 0;
  text-align: left;
  font-size: 56px;
  font-weight: 400;
  line-height: 65px;
}

.quotes__text p {
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
}

.quotes__main-btn {
  margin-top: 30px;
  height: 60px;
  width: 261px;
}

.quotes__list {
  padding-top: 160px;
}

.quotes__list-item {
  width: 453px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  position: relative;
  min-width: min-content;
}

.quotes__list-item:nth-child(1) {
  margin-left: 350px;
}

.quotes__list-item:nth-child(2) {
  margin: 30px 204px;
}

.quotes__list-item:nth-child(3) {
  margin-left: 310px;
}

.quotes__list-item-profile {
  display: flex;
}

.quotes__list-item-profile img {
  border-radius: 100%;
  height: 62px;
  width: 62px;
  margin: 15px 0 0 15px;
}

.quotes__list-item-profile-bg {
  position: absolute;
  background-color: #ffb548;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  top: 17px;
  left: 22px;
  z-index: -1;
}

.quotes__list-item-profile-user {
  margin: 27px 0 0 30px;
}

.quotes__list-item-profile-user-name {
  font-family: Arial, "Bebas Neue", sans-serif;
  color: #ffb548;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

.quotes__list-item-profile-user-work {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.quotes__list-item-profile svg {
  margin: auto 20px auto auto;
}

.quotes__list-item-review {
  font-size: 18px;
  line-height: 25px;
  margin: 23px 0 0 17px;
}

.quotes__list-item-date {
  font-size: 14px;
  line-height: 20px;
  padding: 9px 0 20px 16px;
  color: rgba(255, 255, 255, 0.5);
}

.quotes__backdrop {
  background: radial-gradient(
      70.52% 37.27% at 24.21% 47.47%,
      rgba(35, 15, 15, 0) 0%,
      rgba(0, 0, 0, 0) 51.1%,
      #080a0b 99.74%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
}
