/* Remove Increment and Decrement Arrow from Input Type Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.theme-1 {
  --bg-color: #3b4664;
  --bg-input-color: #181f32;
  --bg-btn-container: #252d44;
  --primary-text-color: #fefffe;
  --secondary-text-color: #424859;
  --third-text-color: #fefffe;
  --fourth-text-color: #fefffe;
  --primary-btn-color: #eae3db;
  --secondary-btn-color: #647299;
  --third-btn-color: #d13f30;
  --primary-shadow-color: #b5a398;
  --secondary-shadow-color: #414e72;
  --third-shadow-color: #932316;
  --webkit-transform: translateX(0px);
}

.theme-2 {
  --bg-color: #e6e6e6;
  --bg-input-color: #eeeeee;
  --bg-btn-container: #d3cdcd;
  --primary-text-color: #e0f0f0;
  --secondary-text-color: #39392f;
  --third-text-color: #34342b;
  --fourth-text-color: #e0f0f0;
  --primary-btn-color: #e5e4e0;
  --secondary-btn-color: #378287;
  --third-btn-color: #c85401;
  --primary-shadow-color: #a69e92;
  --secondary-shadow-color: #1c6167;
  --third-shadow-color: #913901;
  --webkit-transform: translateX(20px);
}

.theme-3 {
  --bg-color: #17062a;
  --bg-input-color: #1e0836;
  --bg-btn-container: #1e0836;
  --primary-text-color: #fff9ff;
  --secondary-text-color: #ffe838;
  --third-text-color: #e9ce45;
  --fourth-text-color: #082e34;
  --primary-btn-color: #331b4d;
  --secondary-btn-color: #56077c;
  --third-btn-color: #00decf;
  --primary-shadow-color: #851c9d;
  --secondary-shadow-color: #bf16f5;
  --third-shadow-color: #59fcf2;
  --webkit-transform: translateX(40px);
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  display: flex;
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  background-color: var(--primary-btn-color);
  color: var(--secondary-text-color);
  filter: drop-shadow(0px 5px 0px var(--primary-shadow-color));
}

.btn-secondary {
  background-color: var(--secondary-btn-color);
  color: var(--primary-text-color);
  font-size: 1.6rem !important;
  filter: drop-shadow(0px 5px 0px var(--secondary-shadow-color));
}

.btn-third {
  background-color: var(--third-btn-color);
  color: var(--primary-text-color);
  font-size: 1.6rem !important;
  filter: drop-shadow(0px 5px 0px var(--third-shadow-color));
}

.container {
  width: 30%;
  height: 85%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
}

.header h3 {
  font-size: 1.8rem;
  margin: 0;
  color: var(--third-text-color);
}

.header__theme {
  margin-left: auto;
  display: flex;
  color: var(--third-text-color);
}

.header__theme p {
  margin: 3rem 0 auto auto;
}

.header__theme-switch {
  position: relative;
  width: 6rem;
  height: 4.5rem;
}

.header__theme-switch-text-container {
  left: 20%;
  display: inline-block;
  position: absolute;
  top: 30%;
  font-size: 0.9rem;
  text-align: center;
}

.toggle-text {
  display: inline-block;
  height: 4rem;
  width: 1.3rem;
  color: var(--third-text-color);
}

.header__theme-switch-btn-container {
  background-color: var(--bg-btn-container);
  width: 75%;
  height: 40%;
  position: relative;
  left: 20%;
  top: 65%;
  border-radius: 1rem;
}

.header__theme-switch-btn {
  width: 16px;
  height: 16px;
  background-color: var(--third-btn-color);
  border-radius: 1rem;
  position: relative;
  top: 20%;
  left: 10%;
  -webkit-transition: -webkit-transform 0.1s linear;
  -webkit-transform: var(--webkit-transform);
}

.input {
  width: 100%;
  height: 8rem;
  display: flex;
  margin: 1rem 0;
  background-color: var(--bg-input-color);
  border-radius: 0.7rem;
}

.input input {
  border-radius: 0.7rem;
  width: 95%;
  background-color: var(--bg-input-color);
  color: #fff;
  border: 0;
  text-align: right;
  font-size: 3rem;
  font-weight: 900;
  outline: none;
  color: var(--third-text-color);
}

.button {
  padding: 2rem;
  display: grid;
  background-color: var(--bg-btn-container);
  grid-gap: 2rem 1rem;
  border-radius: 0.7rem;
  grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
}

.button button {
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 900;
  border-radius: 0.5rem;
  border: 0;
}

.button__row-1 {
  grid-row: 1;
}

#reset-btn {
  grid-column: 1 / span 2;
  margin-bottom: 10%;
}

#equal-btn {
  grid-column: 3 / span 2;
  color: var(--fourth-text-color);
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 35%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 65%;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 90%;
  }

  .button {
    grid-template-columns: 21.5% 21.5% 21.5% 21.5%;
  }

  .button button {
    font-size: 2rem;
    width: 100%;
  }

  .btn-secondary {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 350px) {
  .button {
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: 15% 15% 15% 15%;
    padding: 1.5rem;
    grid-gap: 1rem 1rem;
  }

  .button button {
    font-size: 1.8rem;
    width: 100%;
  }

  .btn-secondary {
    font-size: 1rem !important;
  }
}
